fieldset
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.4rem;
    margin: 0 0 0.4rem 0;
    padding: 0.4rem;
    vertical-align: middle;
}

label
{
    grid-column: 1;
}

input
{
    grid-column: 1;
}

.note {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    padding: 0.5rem;
    margin:0.5rem auto;
    vertical-align: middle;
    border: 1px #0670cc solid;
    border-radius: 0.5rem;
    width: 95%;
}

.note > div
{
    grid-column: 1;
}

.note > div:first-child
{
    color: #0670cc;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.explain
{
    font-size : 0.9rem;
    text-decoration: underline dotted;
}

.explain:hover
{
    cursor: help;
}

@media (min-width: 400px)
{
    fieldset
    {
        grid-template-columns: 12rem 1fr;
    }

    label
    {
        grid-column: 1 / 2;
    }

    input
    {
        grid-column: 2 / 2;
    }


    .note {
        grid-template-columns: 2rem 1fr;
        grid-gap: 1rem;
    }

    .note > div
    {
        grid-column: 2 / 2;
    }

    .note > div:first-child{
        grid-column: 1 / 2;
    }
}
