fieldset
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.4rem;
    margin: 0 0 0.4rem 0;
    padding: 0.4rem;
}

label
{
    grid-column: 1;
}

input
{
    grid-column: 1;
}

.explain
{
    border-bottom: 1px dashed gray;
    font-size : 0.8rem;
}

.explain:hover
{
    cursor: help;
}

@media (min-width: 400px)
{
    fieldset
    {
        display: grid;
        grid-template-columns: 11rem 1fr;
        grid-gap: 1rem;
        vertical-align: middle;
        padding: 1rem;
    }

    label
    {
        text-align: right;
        line-height: 2.5rem;
        grid-column: 1 / 2;
    }

    input
    {
        grid-column: 2 / 2;
    }
}
