body {
    padding: 0.5rem 1rem;
}

div.panel.disabled{
    display: none;
}

div.panel.enabled{
    display: block;
}

.features {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.features > div
{
    grid-column: 1;
}

.features > ul
{
    grid-column: 1;
}

#firstrunpanel > object {
    width: 100%;
    height: 72vh;
    padding:0;
    margin:0;
}

#infopanel {
    width: 100%;
    padding: 0.5rem;
    margin:0.5rem auto;
    vertical-align: middle;
    border: 1px #0670cc solid;
    border-radius: 0.5rem;
}

#errorpanel {
    width: 100%;
    padding: 0.5rem;
    margin:0.5rem auto;
    vertical-align: middle;
    border: 1px red solid;
    border-radius: 0.5rem;
}

@media (min-width: 450px)
{
    #firstrunpanel > object {
        height: 50vh;
    }
}

